{% extends "base.html" %}

{% block title %}Yottaclock Account{% endblock %}

{% block body %}
<h1 class="mb-3">Account Settings</h1>
<form method="post">
    <div class="input-group mb-3">
        <span class="input-group-text">Daily Limit</span>
        <div class="form-floating">
            <input type="number" min="0" step="1" required name="daily_max_hours" id="dailyMaxHours"
                class="form-control" placeholder="0" value="{{ daily_max_hours }}" />
            <label for="dailyMaxHours">Hours</label>
        </div>
        <div class="form-floating">
            <input type="number" min="0" step="1" required name="daily_max_minutes" id="dailyMaxMinutes"
                class="form-control" placeholder="0" value="{{ daily_max_minutes }}" />
            <label for="dailyMaxMinutes">Minutes</label>
        </div>
        <div class="form-floating">
            <input type="number" min="0" step="1" required name="daily_max_seconds" id="dailyMaxSeconds"
                class="form-control" placeholder="0" value="{{ daily_max_seconds }}" />
            <label for="dailyMaxSeconds">Seconds</label>
        </div>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Timezone</span>
        <select required name="timezone" class="form-select">
            {% for timezone in timezones %}
            {% if timezone == user_timezone %}
            <option selected>{{ timezone }}</option>
            {% else %}
            <option>{{ timezone }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <input type="submit" class="btn btn-primary" />
</form>
{% endblock %}
