{% extends "base.html" %}

{% block title %}Yottaclock Days Off{% endblock %}

{% block body %}
<h1>Days Off</h1>
<ul>
    {% for day_off in days_off %}
    <li>
        <p>{{ day_off.date }}</p>
        <p>Projects: {% for project in day_off.projects %}{{ project.name }}, {% endfor %}</p>
        <form method="post" action="/dayoff/delete/">
            <input type="hidden" name="day_off_key" value="{{ day_off.key }}" />
            <input type="submit" value="Delete" />
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
