{% extends "base.html" %}

{% block title %}Yottaclock Days Off{% endblock %}

{% block body %}
<div class="d-flex justify-content-between mb-3">
    <h1>Days Off</h1>
    <a class="btn btn-primary align-self-center" href="/dayoff/new/">+</a>
</div>

<div class="row g-4 row-cols-2 row-cols-md-3 row-cols-lg-4">
    {% for day_off in days_off %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ day_off.date }}</h5>
                <p class="card-text">
                    {% for project in day_off.projects %}
                    <span class="badge text-bg-secondary">{{ project.name }}</span>
                    {% endfor %}
                </p>
                <form method="post" action="/dayoff/delete/">
                    <input type="hidden" name="day_off_key" value="{{ day_off.key }}" />
                    <input class="btn btn-primary" type="submit" value="Delete" />
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
