{% extends "base.html" %}

{% block title %}Yottaclock Login{% endblock %}

{% block body %}
<h1 class="mb-3">Login</h1>
<form method="post">
    <div class="form-floating mb-3">
        <input type="text" required name="toggl_api_key" id="togglApiKey"
            class="form-control {% if unrecognized_api_token %}is-invalid{% endif %}"
            placeholder="1971800d4d82861d8f2c1651fea4d212" />
        <label for="togglApiKey">Toggl API Token</label>
        <div class="invalid-feedback">API token not recognized</div>
    </div>

    <input type="submit" class="btn btn-primary" />
</form>
{% endblock %}
