{% extends "base.html" %}

{% block title %}Yottaclock Projects{% endblock %}

{% block body %}
<div class="d-flex justify-content-between mb-3">
    <h1>Projects</h1>
    <a class="btn btn-primary align-self-center" href="/project/new/">+</a>
</div>

<div class="row g-4 row-cols-2 row-cols-md-3 row-cols-lg-4">
    {% for project in projects %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">Daily Goal: {{ project.daily_goal }}</p>
                <p class="card-text">Starting Date: {{ project.starting_date }}</p>
                <p class="card-text">
                    {% if project.weekdays.monday %}<span class="badge text-bg-secondary">Monday</span>{% endif %}
                    {% if project.weekdays.tuesday %}<span class="badge text-bg-secondary">Tuesday</span>{% endif %}
                    {% if project.weekdays.wednesday %}<span class="badge text-bg-secondary">Wednesday</span>{% endif %}
                    {% if project.weekdays.thursday %}<span class="badge text-bg-secondary">Thursday</span>{% endif %}
                    {% if project.weekdays.friday %}<span class="badge text-bg-secondary">Friday</span>{% endif %}
                    {% if project.weekdays.saturday %}<span class="badge text-bg-secondary">Saturday</span>{% endif %}
                    {% if project.weekdays.sunday %}<span class="badge text-bg-secondary">Sunday</span>{% endif %}
                </p>
                <form method="post" action="/project/delete/">
                    <input type="hidden" name="project_id" value="{{ project.id }}" />
                    <input class="btn btn-primary" type="submit" value="Delete" />
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
