{% extends "base.html" %}

{% block title %}Yottaclock Signup{% endblock %}

{% block body %}
<h1 class="mb-3">Signup</h1>
<form method="post" action="/signup/">
    <input type="hidden" name="toggl_api_key" value="{{ toggl_api_key }}" />

    <div class="input-group mb-3">
        <span class="input-group-text">Workspace</span>
        <select required name="workspace_id" class="form-select">
            {% for workspace in workspaces %}
            <option value="{{ workspace.id }}">{{ workspace.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Daily Limit</span>
        <div class="form-floating">
            <input type="number" min="0" step="1" required name="daily_max_hours" id="dailyMaxHours"
                class="form-control" placeholder="0" />
            <label for="dailyMaxHours">Hours</label>
        </div>
        <div class="form-floating">
            <input type="number" min="0" step="1" required name="daily_max_minutes" id="dailyMaxMinutes"
                class="form-control" placeholder="0" />
            <label for="dailyMaxMinutes">Minutes</label>
        </div>
        <div class="form-floating">
            <input type="number" min="0" step="1" required name="daily_max_seconds" id="dailyMaxSeconds"
                class="form-control" placeholder="0" />
            <label for="dailyMaxSeconds">Seconds</label>
        </div>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Timezone</span>
        <select required name="timezone" class="form-select">
            {% for timezone in timezones %}
            <option>{{ timezone }}</option>
            {% endfor %}
        </select>
    </div>

    <input type="submit" class="btn btn-primary" />
</form>
{% endblock %}
